@font-face {
    font-family: 'TT Lakes';
    src: url("Fonts/TTLakes/TTLakes-Regular.eot");
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url("Fonts/TTLakes/TTLakes-Regular.eot") format('embedded-opentype'),
        url('Fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
        url('Fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url("Fonts/TTLakes/TTLakes-Bold.eot");
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url("Fonts/TTLakes/TTLakes-Bold.eot") format('embedded-opentype'),
        url('Fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('Fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url("Fonts/TTLakes/TTLakes-DemiBold.eot");
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url("Fonts/TTLakes/TTLakes-DemiBold.eot") format('embedded-opentype'),
        url('Fonts/TTLakes/TTLakes-DemiBold.woff') format('woff'),
        url('Fonts/TTLakes/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url("Fonts/TTLakes/TTLakes-Light.eot");
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url("Fonts/TTLakes/TTLakes-Light.eot") format('embedded-opentype'),
        url('Fonts/TTLakes/TTLakes-Light.woff') format('woff'),
        url('Fonts/TTLakes/TTLakes-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/* обнуление */
body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;

    font-family: 'TT Lakes', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    max-width: 1200px;

}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin: 0;
}
button {
    margin: 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #1B1C21;
}

/* видимость блоков или элементов */
.hidden {
    display: none;
}

@media (max-width: 767px) {
    .tablet-visible {
        display: none;
    }
    .pc-visible {
        display: none;
    }
    .pc-tablet-visible {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    .mobile-visible {
        display: none;
    }
    .pc-visible {
        display: none;
    }
}
@media (min-width: 1200px) {
    .mobile-visible {
        display: none;
    }
    .tablet-visible {
        display: none;
    }
    
}

/* стандартные отступы */


@media (max-width: 767px) {
    .container {
        margin: 12px 16px;
    }
    .main__title {
        margin-top: 12px;
        margin-bottom: 24px;
    }
    h2.title {
        padding: 16px;
    }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    .container {
        margin: 12px 16px;
    }
    h2.title {
        padding: 16px;
    }
}
@media (min-width: 1200px) {
    .container {
        margin: 12px 34px;
    }
    .main__title {
        margin-top: 40px;
        margin-bottom: 24px;
    }
    h2.title {
        padding: 16px 34px;
    }
    
}

/* шрифты */
/* Заголовок h1*/


h1.title {
    font-family: 'TT Lakes', Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    vertical-align: center;
    padding-left: 16px;
}
h1.title::before {
    content: url("background/highlight.svg");
    position: absolute;
    left: 0;
}



h2.title {
display: block;
font-family: 'TT Lakes', Arial, Helvetica, sans-serif;
line-height: 150%;
font-weight: normal;
color: #7e7e82;
background: linear-gradient(to right, #FFFFFF, #F8F8F8);
border-top: 1px solid #D9FFF5;
}

/* Текст кнопок */
.button__title {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

/* текст */
.text {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-bottom: 12px;
    }

/* кнопочки */

.site-header__button {
    background-color: #ff3e79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-repeat: no-repeat;
    opacity: 1;
    transition-duration: 500ms;
} 

.site-header__button:hover {
    opacity: 0.5;
} 

.site-header__link {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 16px;
}

/* иконки кнопок */
.button__burger {
    background-image: url("background/ic/burger.svg");
    background-position: center;
}
.button__call {
    background-image: url("background/ic/call.svg");
    background-position: center;
}
.button__chat {
    background-image: url("background/ic/chat.svg");
    background-position: center;
}
.button__profile {
    background-image: url("background/ic/profile.svg");
    background-position: center;
}
.button__repair {
    background-image: url("background/ic/repair.svg");
    background-position: center;
}

.button__checkstatus {
    background-image: url("background/ic/checkstatus.svg");
    background-position: center;
}

.button__menu-exit {
    background-image: url("background/ic/exit.svg");
    background-position: center;
}

.button__search {
    background-image: url("background/ic/search.svg");
    background-position: center;
}


/* кнопка "читать далее" */
.more__button {
    display: block;
    position: relative;
    background-color: #F8F8F8;
    border: 0;
    align-items: center;
    padding-left: 24px;

    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.more__button--show::before {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("background/more.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.more__button--hide::before {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    content: "";
    width: 24px;
    height: 24px;
    rotate: 180deg;
    background-image: url("background/more.svg");
    background-repeat: no-repeat;
    background-position: center;
}