/* навигация */



@media (max-width: 767px) {
    .main__navigation-list {
        display: flex;
        justify-content: start;
        margin: 0 16px;
        overflow-x: auto;
    }
    .main__navigation-list::-webkit-scrollbar {
        display: none;
        width: 0;
    }
    
    .main__navigation-list a {
        display: block;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        white-space: nowrap;
        color: #7E7E82;
        padding: 8px 16px;
    
        display: block;
        margin-right: 16px;
        margin-left: 0;
    }
    .main__navigation-list a:last-child {
        margin-right: 0;
    }
    .navigation-list__active {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .main__navigation-list {
        display: flex;
        justify-content: start;
        margin: 0 16px;
        flex-wrap: wrap;
    }
    .main__navigation-list::-webkit-scrollbar {
        display: none;
    }
    
    .main__navigation-list a {
        display: block;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        white-space: nowrap;
        color: #7E7E82;
        padding: 8px 16px;
    
        display: block;
        margin-right: 16px;
        margin-left: 0;
    }
    .main__navigation-list a:last-child {
        margin-right: 0;
    }
    .navigation-list__active {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }
}

@media (min-width: 1200px) {
    .main__navigation-list {
        display: flex;
        justify-content: start;
        margin: 0 16px;
        flex-wrap: wrap;
    }
    .main__navigation-list::-webkit-scrollbar {
        display: none;
    }
    
    .main__navigation-list a {
        display: block;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        white-space: nowrap;
        color: #7E7E82;
        padding: 8px 16px;
    
        display: block;
        margin-right: 16px;
        margin-left: 0;
    }
    .main__navigation-list a:last-child {
        margin-right: 0;
    }
    .navigation-list__active {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }
}