.site-header--deployed {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 32px;
    width: 320px;
    min-height: 100vh;
    background-color: white;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
    
.site-header__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 16px;
    padding: 0;
}

 
.site-header--deployed a {
    display: block;
    padding: 16px 24px 16px 24px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.2px;
}

.site-header--deployed li.selected {
    position: relative;
}

.site-header--deployed li.selected a {
    color: #7E7E82;
}


.site-header--deployed .site-header__mobile-list li.selected::before {
    content: url("background/highlight.svg");
    position: absolute;
    left: 0;
    top: 8px;
}

.site-header--deployed .site-header__contacts {
    margin-top: auto;
    margin-left: 24px;
    margin-right: 24px;
    padding: 0;

}

.site-header--deployed .site-header__language a {
    padding: 0;
    padding-top: 20px;
    margin-left: 24px;
}

.site-header--deployed a.mail-link {
    margin: 0;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0;
}

.site-header--deployed a.telephone-link {
margin: 0;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.6px;
padding-top: 16px;
padding-left: 24px;
padding-right: 24px;
padding-bottom: 20px;
}

.site-header__language {
    display: flex;
}


.site-header__logo {
    margin-right: auto;
}
.site-header__button
{
    margin-right: 16px;
}
.site-header :last-child, 
.site-header__top :last-child {
    margin-right: 0;
}