@font-face {
    font-family: 'TT Lakes';
    src: url("Fonts/TTLakes/TTLakes-Regular.eot");
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url("Fonts/TTLakes/TTLakes-Regular.eot") format('embedded-opentype'),
        url('Fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
        url('Fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url("Fonts/TTLakes/TTLakes-Bold.eot");
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url("Fonts/TTLakes/TTLakes-Bold.eot") format('embedded-opentype'),
        url('Fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('Fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url("Fonts/TTLakes/TTLakes-DemiBold.eot");
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url("Fonts/TTLakes/TTLakes-DemiBold.eot") format('embedded-opentype'),
        url('Fonts/TTLakes/TTLakes-DemiBold.woff') format('woff'),
        url('Fonts/TTLakes/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url("Fonts/TTLakes/TTLakes-Light.eot");
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url("Fonts/TTLakes/TTLakes-Light.eot") format('embedded-opentype'),
        url('Fonts/TTLakes/TTLakes-Light.woff') format('woff'),
        url('Fonts/TTLakes/TTLakes-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;

    font-family: 'TT Lakes', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    max-width: 1200px;

}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin: 0;
}
button {
    margin: 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: #1B1C21;
}

/* шрифты */
/* Заголовок h1*/
h1.title {
    font-family: 'TT Lakes', Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    vertical-align: center;
    padding-left: 16px;
}
h1.title::before {
    content: url("background/highlight.svg");
    position: absolute;
    left: 0;
}

/* Текст кнопок */
.button__title {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

/* текст */
.text {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-bottom: 12px;
    }


/* кнопки шапки, описание иконок */

.cite-header__button {
    background-color: #ff3e79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-repeat: no-repeat;
    opacity: 1;
    transition-duration: 500ms;
} 

.cite-header__button:hover {
    opacity: 0.5;
} 

.cite-header__link {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 16px;
}

.button__burger {
    background-image: url("background/ic/burger.svg");
    background-position: center;
}
.button__call {
    background-image: url("background/ic/call.svg");
    background-position: center;

}
.button__chat {
    background-image: url("background/ic/chat.svg");
    background-position: center;
}
.button__profile {
    background-image: url("background/ic/profile.svg");
    background-position: center;
}
.button__repair {
    background-image: url("background/ic/repair.svg");
    background-position: center;
}

.button__checkstatus {
    background-image: url("background/ic/checkstatus.svg");
    background-position: center;
}

.button__menu-exit {
    background-image: url("background/ic/exit.svg");
    background-position: center;
}

.button__search {
    background-image: url("background/ic/search.svg");
    background-position: center;
}


/* разделитель шапки */
.cite-header__divider {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #eaeaea;
} 

/* кнопка "читать далее" */
.more__button {
    background-color: #F8F8F8;
    border: 0;
    align-items: center;
}
.more__button-ic {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("background/more.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

/* описание картинки раздела "о компании" */
.info__image img {
    object-fit: cover;
}

/* Развернутое меню */

.cite-header--deployed {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 32px;
    width: 320px;
    min-height: 100vh;
    background-color: white;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
    
.cite-header__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 16px;
    padding: 0;
}

 
.cite-header--deployed a {
    display: block;
    padding: 16px 24px 16px 24px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.2px;
}

.cite-header--deployed li.selected {
    position: relative;
}

.cite-header--deployed li.selected a {
    color: #7E7E82;
}


.cite-header--deployed .cite-header__mobile-list li.selected::before {
    content: url("background/highlight.svg");
    position: absolute;
    left: 0;
    top: 8px;
}

.cite-header--deployed .cite-header__contacts {
    margin-top: auto;
    margin-left: 24px;
    margin-right: 24px;
    padding: 0;

}

.cite-header--deployed .cite-header__language a {
    padding: 0;
    padding-top: 20px;
    margin-left: 24px;
}

.cite-header--deployed a.mail-link {
    margin: 0;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0;
}

.cite-header--deployed a.telephone-link {
margin: 0;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.6px;
padding-top: 16px;
padding-left: 24px;
padding-right: 24px;
padding-bottom: 20px;
}
